<h1>A propos</h1>
<p>Comment a été réalisé cette merveille ? Question hautement pertinente dont la réponse est pourtant simple : en <em>Ruby on Rails</em> ! Et oui c'est ça le secret de sa beauté !</p>
<p>Si vous voulez en savoir plus sur les personnes ayant réalisé ce site cliquez simplement sur leur nom :</p>
<ul>
  <li><%= link_to "Isabelle", about_isabelle_path %></li>
  <li><%= link_to "Binôme", about_binome_path %></li>
</ul>
