  <nav>
    <ul>
      <li><%= link_to "Accueil",   root_path %></li>
      <li><%= link_to "A propos", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://thehackingproject.org/">| The Hacking Project</a></li>
    </ul>
  </nav>